<section class="gh-container category-container is-{{#match @custom.category_section_layout "List"}}list{{else}}grid{{/match}} gh-outer">

    {{#match @custom.category_section_tags "=" "all"}}
        {{#get "tags" filter="name:~^'_'" limit=@custom.category_section_tag_limit order="count.posts desc"}}
            {{#foreach tags}}
               {{> "category-grid"}}
            {{/foreach}}
        {{/get}}
    {{else}}
        {{#get "tags" filter="name:[{{@custom.category_section_tags}}]" limit=@custom.category_section_tag_limit order="count.posts desc"}}
            {{#foreach tags}}
                {{> "category-grid"}}
            {{/foreach}}
        {{/get}}
    {{/match}}

    {{#match pagination.pages ">" 1}}
        <div class="gh-more is-title">
            <a href="{{@site.url}}/page/2">See all {{> "icons/arrow"}}</a>
        </div>
    {{/match}}
</section>
