{{!--
    Parameters:
    * feed (index, home, archive, recent)
    * postFeedStyle (list, grid)
    * showTitle (true, false)
    * showSidebar (true, false)
--}}

 <section class="gh-container is-{{#match postFeedStyle "List"}}list{{else}}grid{{/match}}{{#match feed "home"}}{{#if @site.recommendations_enabled}} has-sidebar{{/if}}{{/match}}{{#unless @custom.show_images_in_feed}} no-image{{/unless}} gh-outer">
    <div class="gh-container-inner gh-inner">

        {{#if showTitle}}
            <h2 class="gh-container-title">
                {{#unless title}}Latest{{else}}{{title}}{{/unless}}
            </h2>
        {{/if}}

        <main class="gh-main">
            <div class="gh-feed">

                {{!-- Homepage --}}
                {{#match feed "home"}}
                    {{#foreach posts}}
                        {{> "new-post-card" lazyLoad=true}}
                    {{/foreach}}
                {{/match}}

                {{!-- All posts --}}
                {{#match feed "index"}}
                    {{#foreach posts}}
                        {{> "new-post-card" lazyLoad=true}}
                    {{/foreach}}
                {{/match}}

                {{!-- Tag and author pages --}}
                {{#match feed "archive"}}
                    {{#foreach posts}}
                        {{> "post-card" lazyLoad=true}}
                    {{/foreach}}
                {{/match}}

            </div>

            {{#match pagination.pages ">" 1}}
                <div class="gh-more is-title">
                    <button class="button-secondary gh-loadmore">Load more</button>
                </div>
            {{/match}}
        </main>

        {{#match feed "home"}}
            {{#if @site.recommendations_enabled}}
                <aside class="gh-sidebar">
                    <div class="gh-sidebar-inner">
                        <section class="gh-recommendations">
                            <a class="gh-sidebar-title title-with-arrow" href="#/portal/recommendations" data-portal="recommendations" aria-label="Recommendations portal">
                                <h4 class="">Recommendations</h4>
                                {{> "icons/arrow"}}
                            </a>
                            {{recommendations limit=6}}
                        </section>
                    </div>
                </aside>
            {{/if}}
        {{/match}}
    </div>
</section>
