// POST HEAD
// ---------------------------------------------------------------

.post-head {
  position: sticky;
  top: 76px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg);
  transition: background-color $transition-time ease;
  z-index: 1;

  .post-tags {
    justify-content: center;
  }

  &.featured {
    background-color: var(--featured-post-head-bg-color);

    .post-head-title,
    .post-head-excerpt,
    .post-head-date,
    .post-head-authors__by,
    .post-head-author {
      color: #fff;
    }

    .post-head-date {
      &::after {
        background-color: #fff;
      }
    }

    .post-head-author {
      &:hover {
        color: #d5d5d5;
      }
    }

    .post-tags {
      z-index: 2;
    }

    .post-head-wrapper {
      z-index: 2;
    }
  }
}

body {
  &.withFeaturedPostsHeader {
    .post-head {
      top: 120px;
    }

    .post-head-container {
      &.featured {
        height: calc(100svh - 120px);
      }

      &.featured-with-image {
        picture {
          top: -65px;
          height: calc(100% + 65px);
        }
      }
    }
  }

  &.withAuthorHeader {
    .post-head {
      top: 92px;
    }

    .post-head-container {
      &.featured {
        height: calc(100svh - 92px);
      }

      &.featured-with-image {
        picture {
          top: -37px;
          height: calc(100% + 37px);
        }
      }
    }

    &.withFeaturedPostsHeader {
      .post-head {
        top: 136px;
      }

      .post-head-container {
        &.featured {
          height: calc(100svh - 136px);
        }

        &.featured-with-image {
          picture {
            top: -81px;
            height: calc(100% + 81px);
          }
        }
      }
    }
  }

  &.withBigHeader {
    .post-head {
      top: 175px;
    }

    .post-head-container {
      &.featured {
        height: calc(100svh - 175px);
      }

      &.featured-with-image {
        picture {
          top: -120px;
          height: calc(100% + 120px);
        }
      }
    }
  }
}

.post-head-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 80px 0 0;
  width: 100%;

  &.normal-with-image {
    padding: 80px 0 48px;
  }

  &.featured {
    height: calc(100svh - 76px);
    padding: 64px 0;
    flex-direction: column;
  }

  &.featured-with-image {
    background-color: black;

    picture {
      position: absolute;
      top: -20px;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: calc(100% + 20px);
    }

    &::after {
      content: '';
      width: 100%;
      height: calc(100% + 200px);
      position: absolute;
      top: -200px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}

.post-head-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.post-head-meta {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;
}

.post-head-date-author {
  display: flex;
  align-items: baseline;
  gap: 20px;
}

.post-head-date {
  color: var(--color-main);
  @include font--text-S-bold;
  transition: color $transition-time ease;
  position: relative;

  &::after {
    content: '';
    width: 4px;
    height: 4px;
    background-color: var(--color-gray);
    border-radius: 100px;
    position: absolute;
    right: -12px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.post-head-authors {
  display: flex;
  align-items: baseline;
  gap: 3px;

  &__by {
    color: var(--color-main);
    @include font--text-S-bold;
    transition: color $transition-time ease;
  }
}

.post-head-authors-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.post-head-author {
  color: var(--color-main);
  @include font--text-S-bold;
  transition: color $transition-time ease;

  &:hover {
    color: var(--accent-hover-color);
  }
}

.post-head-title {
  color: var(--color-main);
  @include font--full-width-post;
  text-align: center;
  width: 100%;
  max-width: 1160px;
}

.post-head-excerpt {
  color: var(--color-main);
  @include font--text-L-medium;
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin-top: 8px;
}

.post-head-bg-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
  animation: fadeIn 0.55s ease-out;
}

// MEDIA QUERIES
// ---------------------------------------------------------------

@media (max-width: 1400px) {
  .post-head-title {
    max-width: 90%;
  }
}

@media (max-width: 1200px) {
  .post-head-title {
    font-size: 6rem;
  }
}

@media (max-width: 1100px) {
  body {
    &.withBigHeader {
      .post-head {
        top: 76px;
      }

      .post-head-container {
        &.featured {
          height: calc(100svh - 76px);
        }

        &.featured-with-image {
          picture {
            top: -21px;
            height: calc(100% + 21px);
          }
        }
      }
    }
  }

  .post-head-container {
    padding: 64px 0 0;

    &.normal-with-image {
      padding: 64px 0 48px;
    }
  }

  .post-head-title {
    font-size: 5.6rem;
  }
}

@media (max-width: 1000px) {
  body {
    &.withFeaturedPostsHeader {
      .post-head {
        top: 76px;
      }

      .post-head-container {
        &.featured {
          height: calc(100svh - 76px);
        }

        &.featured-with-image {
          picture {
            top: -21px;
            height: calc(100% + 21px);
          }
        }
      }
    }

    &.withAuthorHeader {
      &.withFeaturedPostsHeader {
        .post-head {
          top: 92px;
        }

        .post-head-container {
          &.featured {
            height: calc(100svh - 92px);
          }

          &.featured-with-image {
            picture {
              top: -37px;
              height: calc(100% + 37px);
            }
          }
        }
      }
    }
  }

  .post-head-title {
    font-size: 5.2rem;
  }
}

@media (max-width: 900px) {
  .post-head-container {
    padding: 48px 0 0;

    &.normal-with-image {
      padding: 48px 0 40px;
    }
  }

  .post-head-title {
    font-size: 4.8rem;
  }
}

@media (max-width: 800px) {
  .post-head-title {
    font-size: 4.4rem;
  }

  .post-head-excerpt {
    max-width: 80%;
  }

  .post-head-meta {
    flex-direction: column;
    gap: 8px;
  }
}

@media (max-width: 750px) {
  body {
    &.withFeaturedPostsHeader {
      .post-head {
        top: 64px;
      }

      .post-head-container {
        &.featured {
          height: calc(100svh - 64px);
        }

        &.featured-with-image {
          picture {
            top: -9px;
            height: calc(100% + 9px);
          }
        }
      }
    }

    &.withAuthorHeader {
      .post-head {
        top: 64px;
      }

      .post-head-container {
        &.featured {
          height: calc(100svh - 64px);
        }

        &.featured-with-image {
          picture {
            top: -9px;
            height: calc(100% + 9px);
          }
        }
      }

      &.withFeaturedPostsHeader {
        .post-head {
          top: 64px;
        }

        .post-head-container {
          &.featured {
            height: calc(100svh - 64px);
          }

          &.featured-with-image {
            picture {
              top: -9px;
              height: calc(100% + 9px);
            }
          }
        }
      }
    }

    &.withBigHeader {
      .post-head {
        top: 64px;
      }

      .post-head-container {
        &.featured {
          height: calc(100svh - 64px);
        }

        &.featured-with-image {
          picture {
            top: -9px;
            height: calc(100% + 9px);
          }
        }
      }
    }
  }

  .post-head {
    top: 64px;
  }

  .post-head-container {
    &.featured {
      height: calc(100svh - 64px);
    }

    &.featured-with-image {
      picture {
        top: -9px;
        height: calc(100% + 9px);
      }
    }
  }
}

@media (max-width: 700px) {
  .post-head-title {
    font-size: 4rem;
  }
}

@media (max-width: 550px) {
  .post-head-container {
    padding: 40px 0 0;

    &.normal-with-image {
      padding: 40px 0 32px;
    }
  }

  .post-head-title {
    font-size: 3.6rem;
    max-width: 100%;
  }

  .post-head-excerpt {
    font-size: 1.6rem;
    max-width: 90%;
  }
}

@media (max-width: 350px) {
  .post-head-title {
    font-size: 3.2rem;
  }
}