// POST FOOTER
// ---------------------------------------------------------------

.post-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg);
    position: relative;
    z-index: 3;
    padding: 48px 30px 80px;

    &.with-sidebar {
        padding: 40px 0 80px;
        grid-column: 2/3;
        grid-row: 2/3;

        .post-footer-container {
            width: calc(100% - 40px);
        }
    }
}

.post-footer-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 687px;
    padding: 20px 0;
    grid-column: 2/3;
    border-top: 1px solid var(--main-hr-color);

    .share-block {
        margin-left: auto;
    }
}

.post-footer-author {
    display: flex;
    align-items: center;
    gap: 8px;

    &__image-wrapper-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        min-width: 40px;
        height: 40px;
        min-height: 40px;
        overflow: hidden;
        position: relative;
        border-radius: 100px;

        &:hover {
            .post-footer-author__image {
                opacity: 0.8;
            }
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: opacity $transition-time ease;
    }
}

.post-footer-author-name {
    display: flex;
    align-items: baseline;
    gap: 3px;

    &__by {
        @include font--text-XS-bold;
        color: var(--color-gray);
    }

    &__link {
        @include font--text-S-bold;
        color: var(--accent-color-DM-monochrome);
        transition: opacity $transition-time ease;

        &:hover {
            opacity: 0.8;
        }
    }
}

.post-footer-authors {
    display: flex;
    align-items: baseline;
    gap: 3px;
}

.post-footer-author-names {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.post-footer-date-container {
    display: flex;
    align-items: baseline;
    gap: 4px;
    margin-left: 28px;
}

.post-footer-updated {
    @include font--text-XS-bold;
    color: var(--color-gray);
}

.post-footer-date {
    @include font--text-S-bold;
    color: var(--color-main);
    min-width: max-content;
}

// MEDIA
// ---------------------------------------------------------------

@media (max-width: 1350px) {
    .post-footer {
        &.with-sidebar {
            .post-footer-date-container {
                margin-left: 20px;
            }
        }
    }
}

@media (max-width: 1250px) {
    .post-footer {
        &.with-sidebar {
            grid-column: 1/2;

            .post-footer-date-container {
                margin-left: 28px;
            }
        }
    }
}

@media (max-width: 1100px) {
    .post-footer {
        &.with-sidebar {
            padding: 0 30px;
            order: 1;

            .post-footer-container {
                width: 100%;
            }
        }
    }
}

@media (max-width: 750px) {
    .post-footer {
        padding: 48px 30px 64px;

        &.with-sidebar {
            padding: 0 20px;
        }
    }

    .post-footer-container {
        display: grid;
        grid-template-columns: max-content auto;
        grid-template-rows: max-content auto;
        row-gap: 10px;
        justify-content: space-between;

        .share-block {
            grid-column: 1/2;
            grid-row: 2/3;
            margin: 0;
        }
    }

    .post-footer-authors {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .post-footer-date-container {
        grid-column: 2/3;
        grid-row: 1/2;
    }
}

@media (max-width: 550px) {
    .post-footer {
        padding: 48px 20px 64px;

        &.with-sidebar {
            padding: 0 20px;
        }
    }

    .post-footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        row-gap: 10px;
    }

    .post-footer-date-container {
        margin: 0;
    }
}

@media (max-width: 375px) {
    .post-footer {
        padding: 48px 14px 64px;

        &.with-sidebar {
            padding: 0 14px;
        }
    }
}