{{!< default}}

{{!-- --------------------------------------------------------------------------------------
Props:  
    1. tag - slug tag 
    2. type - section type 
    3. count - number of posts in section 
    4. sectionIndex - section number for correct operation of the button slider 
    5. lazyLoading - if "true", an attribute "loading='lazy'" will be added to the tag <img>
------------------------------------------------------------------------------------------}}

<main class="main home-page">
        
        {{!-- First Section --}}
        {{#match @custom.first_section_layout_type "!=" "None"}}
            {{!-- {{#if @custom.first_section_tag_or_title}} --}}
                {{>posts-layout tag = @custom.first_section_tag_or_title type = @custom.first_section_layout_type count = @custom.first_section_posts_count_or_text sectionIndex="0"}}
            {{!-- {{/if}} --}}
        {{/match}}

        {{!-- Second Section --}}

        {{#match @custom.second_section_layout_type "!=" "None"}}
            {{!-- {{#if @custom.second_section_tag_or_title}} --}}
                {{>posts-layout tag = @custom.second_section_tag_or_title type = @custom.second_section_layout_type count = @custom.second_section_posts_count_or_text sectionIndex="1" lazyLoading="true"}}
            {{!-- {{/if}} --}}
        {{/match}}


        {{!-- Third Section --}}
        {{#match @custom.third_section_layout_type "!=" "None"}}
            {{!-- {{#if @custom.third_section_tag_or_title}} --}}
                {{>posts-layout tag = @custom.third_section_tag_or_title type = @custom.third_section_layout_type count = @custom.third_section_posts_count_or_text sectionIndex="2" lazyLoading="true"}}
            {{!-- {{/if}} --}}
        {{/match}}

        {{!-- Fourth Section --}}
        {{#match @custom.fourth_section_layout_type "!=" "None"}}
            {{!-- {{#if @custom.fourth_section_tag_or_title}} --}}
                {{>posts-layout tag = @custom.fourth_section_tag_or_title type = @custom.fourth_section_layout_type count = @custom.fourth_section_posts_count_or_text sectionIndex="3" lazyLoading="true"}}
            {{!-- {{/if}} --}}
        {{/match}}

        {{!-- Fifth Section --}}
        {{#match @custom.fifth_section_layout_type "!=" "None"}}
            {{!-- {{#if @custom.fifth_section_tag_or_title}} --}}
                {{>posts-layout tag = @custom.fifth_section_tag_or_title type = @custom.fifth_section_layout_type count = @custom.fifth_section_posts_count_or_text sectionIndex="4" lazyLoading="true"}}
            {{!-- {{/if}} --}}
        {{/match}}

</main>

