<section class="read-next-section">
    <div class="wrapper">
        <h4 class="layout-title">
        {{t "Read Next"}}
        </h4>
        <div class="layout-flex">
            {{#get "posts" limit = 3 include="tags,authors" order="published_at desc"}}
                {{#foreach posts}}

                    {{#has index="1"}}
                        <div class="layout-aside layout-aside--two-posts">
                    {{/has}}

                    {{#if @first}}
                        {{>post-cards/post-card postType="Big post" showExcerpt="true"}}
                    {{else}}
                        {{>post-cards/post-card postType="Small post" showExcerpt="true"}}
                    {{/if}}

                    {{#has index="2"}}
                        </div>
                    {{/has}}
                
                {{/foreach}}
            {{/get}}
        </div>
    </div>
</section>