// Archive Pages Styles 
// ---------------------------------------------------------

.archive-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 80px;
}

.archive-page-head {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    padding-top: 80px;

    &.with-feature-image {
        background-color: #000;
        padding-bottom: 80px;

        .archive-page-head__title,
        .archive-page-head__excerpt {
            color: #FFF;
        }

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            object-fit: cover;
            object-position: center;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 8px;
        position: relative;
        z-index: 2;
    }

    &__title {
        color: var(--color-main);
        @include font--full-width-post;
        text-align: center;
        width: 100%;
        max-width: 1160px;
    }

    &__excerpt {
        color: var(--color-main);
        @include font--text-L-medium;
        text-align: center;
        width: 100%;
        max-width: 450px;
        margin-top: 8px;
    }

    &__bg-image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
        object-position: center;
        z-index: 0;
        animation: fadeIn 0.55s ease-out;
    }
}

.archive-page-posts {
    width: 100%;
    margin-top: 64px;
}

// MEDIA QUERIES
// ---------------------------------------------------------------

@media (max-width: 1400px) {
    .archive-page-head {
        &__title {
            max-width: 90%;
        }
    }
}

@media (max-width: 1200px) {
    .archive-page-head {
        &__title {
            font-size: 6rem;
        }
    }
}

@media (max-width: 1100px) {
    .archive-page-head {
        &__title {
            font-size: 5.6rem;
        }
    }
}

@media (max-width: 1000px) {
    .archive-page-head {
        &__title {
            font-size: 5.2rem;
        }
    }
}

@media (max-width: 900px) {
    .archive-page-head {
        &__title {
            font-size: 4.8rem;
        }
    }
}

@media (max-width: 800px) {
    .archive-page-head {
        &__title {
            font-size: 4.4rem;
        }

        &__excerpt {
            max-width: 80%;
        }
    }
}

@media (max-width: 750px) {
    .archive-page-posts {
        margin-top: 40px;
    }
}

@media (max-width: 700px) {
    .archive-page-head {
        &__title {
            font-size: 4rem;
        }
    }
}

@media (max-width: 550px) {
    .archive-page {
        padding-bottom: 64px;
    }

    .archive-page-head {
        padding-top: 64px;

        &.with-feature-image {
            padding-bottom: 64px;
        }

        &__title {
            font-size: 3.6rem;
            max-width: 100%;
        }

        &__excerpt {
            font-size: 1.6rem;
            max-width: 90%;
        }
    }
}

@media (max-width: 350px) {
    .archive-page-head {
        &__title {
            font-size: 3.2rem;
        }
    }
}