.author-page-head {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    padding-top: 80px;

    &.with-feature-image {
        background-color: #000;
        padding-bottom: 80px;

        .author-page-head__title,
        .author-page-head__excerpt,
        .author-page-head__location span {
            color: #FFF;
        }

        .author-page-head__excerpt {
            @include font--text-L-semibold;
        }

        .author-page-head__location {
            svg path {
                stroke: #FFF;
            }
        }

        .author-page-head__social-link {
            transition: opacity $transition-time ease;

            svg path {
                fill: #FFF;
            }

            &:hover {
                opacity: 0.75;
            }
        }

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            object-fit: cover;
            object-position: center;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;
        z-index: 2;
    }

    &__main {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &__main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        &.with-profile-image {
            align-items: flex-start;
        }
    }

    &__profile-image {
        width: 120px;
        min-width: 120px;
        height: 120px;
        min-height: 120px;
        border-radius: 100px;
        object-fit: cover;
        object-position: center;
        aspect-ratio: 1/1;
    }

    &__title {
        color: var(--color-main);
        @include font--titles-H1;
        width: 100%;
    }

    &__location {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-top: 4px;

        svg {
            path {
                stroke: var(--color-gray)
            }
        }

        span {
            @include font--text-S-bold;
            color: var(--color-gray);
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: fit-content;
        margin-top: 4px;
    }

    &__social-link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 4px;

        &:first-child {
            padding: 0 4px 0 0;
        }

        &:last-child {
            padding: 0 0 0 4px;
        }

        svg {
            width: 44px;
            height: 44px;

            path {
                fill: var(--color-main);
                transition: fill $transition-time ease;
            }
        }

        &:hover {
            svg path {
                fill: var(--accent-hover-color);
            }
        }
    }

    &__excerpt {
        color: var(--color-main);
        @include font--text-L-medium;
        width: 100%;
        max-width: 450px;
        margin-top: 16px;
        text-align: center;
    }

    &__bg-image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
        object-position: center;
        z-index: 0;
        animation: fadeIn 0.55s ease-out;
    }
}

// MEDIA QUERIES
// ---------------------------------------------------------------

@media (max-width: 800px) {
    .author-page-head {
        &__excerpt {
            max-width: 80%;
        }
    }
}

@media (max-width: 750px) {
    .archive-page-posts {
        margin-top: 40px;
    }
}

@media (max-width: 700px) {
    .author-page-head {
        &__main {
            gap: 20px
        }

        &__title {
            @include font--titles-H2;
        }

        &__profile-image {
            width: 96px;
            height: 96px;
            min-height: 96px;
            min-width: 96px
        }
    }
}

@media (max-width: 550px) {
    .author-page-head {
        padding-top: 64px;

        &.with-feature-image {
            padding-bottom: 64px;

            .author-page-head__excerpt {
                @include font--text-M-semibold;
            }
        }

        &.with-profile-image {
            .author-page-head__title {
                @include font--titles-H4;
            }
        }

        &__main {
            gap: 16px;
        }

        &__title {
            @include font--titles-H3;
        }

        &__excerpt {
            @include font--text-M-medium;
            max-width: 90%;
            margin-top: 10px;
        }

        &__profile-image {
            width: 80px;
            height: 80px;
            min-height: 80px;
            min-width: 80px
        }

        &__socials {
            margin-top: 2px;
        }
    }
}

@media (max-width: 350px) {
    .author-page-head {
        &__title {
            @include font--titles-H4;
        }

        &__profile-image {
            width: 64px;
            height: 64px;
            min-height: 64px;
            min-width: 64px
        }
    }
}