/* Sing In/Create account/Subscribe Pages */
/* ---------------------------------------------------------- */

html {
  &[data-theme='light'] {
    .form__input {
      color: #000;
      background-color: #fff;

      &::placeholder {
        color: rgba(51, 49, 49, 0.5);
      }
    }
  }

  &[data-theme='dark'] {
    .form__input {
      color: #fff;
      background: hsla(0, 0%, 100%, 0.16);

      &::placeholder {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
}

.form-page-template {
  #announcement-bar-root {
    display: none;
  }
}

.form-page {
  padding: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  animation: fadeIn 0.4s ease-in;
  position: relative;
  padding: 48px;
  border-radius: $border-radius-blocks;
  background-color: var(--accent-bg-color);
  color: var(--color-main);
  max-width: 464px;
  width: 100%;
  opacity: 0;
  animation: fadeIn 0.35s ease-in forwards;

  .logo {
    margin-bottom: 20px;
  }

  &__title {
    @include font--titles-H2;
    text-align: center;
  }

  &__subtitle {
    @include font--text-M-medium;
    text-align: center;
    margin-top: 14px;
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    margin-top: 40px;
    margin-bottom: 24px;
    width: 100%;

    &:nth-of-type(2) {
      margin-top: 0px;
    }
  }

  &__input {
    padding: 13px 22px;
    height: 50px;
    color: var(--color-main);
    border-radius: 100px;
    width: 100%;
    outline: 1px solid transparent;
    transition: outline $transition-time ease, box-shadow $transition-time ease;
    @include font--text-S-medium;

    &:focus {
      box-shadow: 0 0 4px 0 var(--accent-color);
      outline: 1px solid var(--accent-color);
    }

    &::placeholder {
      color: rgba(0, 0, 0, 1);
      @include font--text-S-medium;
    }
  }

  &__input-label {
    color: var(--color-main);
    @include font--text-S-medium;
  }

  &__signup-terms {
    position: relative;
    margin-top: 12px;
    width: 100%;
    max-width: 90%;
  }

  &__signup-terms-content {
    width: 100%;
    text-align: center;

    * {
      @include font--text-XS-medium;
      color: var(--color-gray);
    }

    strong {
      @include font--text-XS-bold;
    }

    a,
    a > * {
      color: var(--color-main);
      transition: color $transition-time ease;

      &:hover {
        color: var(--accent-hover-color);
      }
    }
  }

  &__question {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 32px;

    @include font--text-S-medium;
    color: var(--color-gray);
  }

  &__question-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    transition: opacity $transition-time ease;
    color: var(--color-main);

    .chevron-right-icon {
      transition: transform $transition-time ease-out, opacity $transition-time ease;

      path {
        stroke: var(--color-main);
      }
    }

    &:hover {
      opacity: 0.8;

      .chevron-right-icon {
        transform: translateX(3px);
      }
    }
  }

  &.loading {
    .submit-btn {
      pointer-events: none;

      &__text {
        display: none;
      }

      .loader-icon {
        display: block;
        circle {
          stroke: var(--btn-custom-colored-text);
        }
      }
    }
  }

  .subscribe-banner-form__error {
    display: none;
    @include font--text-S-medium;
    color: #ff0000;
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    right: 0;
    text-align: center;
  }

  &.error {
    .subscribe-banner-form__error {
      display: block;
      animation: fadeIn $transition-time ease;
    }
  }

  .subscribe-banner-form-success {
    display: none;
  }

  .subscribe-banner-form-success__wrapper {
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 6px;
  }

  .subscribe-banner-form-success__title {
    text-align: center;
    @include font--titles-H2;
  }

  .subscribe-banner-form-success__text {
    max-width: 100%;
    text-align: center;
    @include font--text-M-medium;
  }

  .subscribe-banner-form-success svg path {
    fill: var(--accent-color-DM-monochrome);
  }

  &.success {
    .form__title,
    .form__subtitle,
    .form__input-wrapper,
    .form__question,
    .form__signup-terms-content,
    .submit-btn {
      display: none;
    }

    .subscribe-banner-form-success {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .submit-btn--success {
      display: flex;
      width: fit-content;
      margin: 0 auto;
    }
  }
}

@media (max-width: 1100px) {
  .form-page {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 1000px) {
  .form__question-btn {
    &:hover {
      opacity: 1;

      .chevron-right-icon {
        transform: unset;
      }
    }
  }
}

@media (max-width: 550px) {
  .form-page {
    padding-left: 20px;
    padding-right: 20px;
  }

  .form {
    padding: 48px 24px;
  }
}

@media (max-width: 450px) {
  .form-page {
    padding-left: 0px;
    padding-right: 0px;
    background-color: var(--accent-bg-color);
  }

  .form {
    padding: 48px 24px;
  }
}
