<aside class="sidebar-wrapper">
    <div class="sidebar">
        {{>sidebar/sidebar-banner}}

        {{#match latestPosts "=" 'true'}}
            <div class="sidebar-posts">
                <h2 class="sidebar-posts__title">{{t "Latest Posts"}}</h2>
                {{#get "posts" limit = 3 include="tags" order="published_at desc"}}
                    {{#foreach posts}}
                        {{#match ../../postWithDate "=" 'true'}}
                            {{>sidebar/sidebar-post-with-date}}
                        {{else}}
                            {{>sidebar/sidebar-post}}
                        {{/match}}
                    {{/foreach}}
                {{/get}}
            </div>
        {{/match}}

        {{#match featuredPosts "=" 'true'}}
            <div class="sidebar-posts">
                <h2 class="sidebar-posts__title">{{t "Featured Posts"}}</h2>
                {{#get "posts" limit = 3 include="tags" order="published_at desc" filter="featured:true"}}
                    {{#foreach posts}}
                        {{#match ../../postWithDate "=" 'true'}}
                            {{>sidebar/sidebar-post-with-date}}
                        {{else}}
                            {{>sidebar/sidebar-post}}
                        {{/match}}
                    {{/foreach}}
                {{/get}}
            </div>
        {{/match}}
    </div>
</aside>
