#announcement-bar-root {
  z-index: 3000000;
  .gh-announcement-bar {
    width: 100%;
    max-width: 100%;

    & > * {
      animation: fadeIn 0.55s ease;
    }

    button {
      transition: opacity $transition-time ease;

      &:hover {
        opacity: 0.7;
      }

      svg {
        width: 12px;
        height: 12px;
      }
    }

    &.light {
      color: var(--color-main);
      background-color: var(--accent-bg-color);
      transition: background-color 0.4s ease;

      a {
        color: var(--color-main) !important;
      }

      button {
        svg {
          path {
            fill: var(--accent-color-DM-monochrome);
          }
        }
      }
    }

    &.accent {
      .gh-announcement-bar-content {
        a {
          text-decoration: underline;
        }
      }
    }

    &.dark {
      .gh-announcement-bar-content {
        a {
          text-decoration: underline;
        }
      }
    }

    .gh-announcement-bar-content {
      & > * {
        @include font--text-XS-medium;
      }

      strong {
        @include font--text-XS-bold;
      }

      a {
        font-weight: var(--text-XS-bold-font-weight);
        transition: opacity $transition-time ease;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

:root[data-theme='dark'] {
  #announcement-bar-root {
    .gh-announcement-bar {
      &.light {
        .gh-announcement-bar-content {
          a {
            color: #fff !important;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  #announcement-bar-root {
    .gh-announcement-bar {
      padding: 12px 36px;

      button {
        right: 4px;
      }
    }
  }
}
