.fs-post-card {
  max-width: 805px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding-top: 86px;
  padding-bottom: 86px;

  &__title-link {
    @include font--full-width-post;
    line-height: 100%;

    color: white;

    transition: opacity $transition-time ease;

    &:hover {
      opacity: 0.8;
    }
  }

  &__excerpt {
    max-width: 567px;
    width: 100%;

    @include font--text-L-medium;

    color: white;
  }

  .post-card__btn {
    margin-top: 32px;

    background-color: white;
  }

  .post-card__btn-text {
    color: var(--accent-color-DM-monochrome);

    svg {
      path {
        stroke: var(--accent-color-DM-monochrome);
      }
    }
  }

  .post-data {
    color: white;

    @include font--text-S-bold;
  }

  .post-author {
    &::before {
      background-color: white;
      top: 8px;
    }
  }

  .post-author__span,
  .post-author__link {
    color: white;

    @include font--text-S-bold;
  }

  .post-author__link {
    transition: opacity $transition-time ease;

    &:hover {
      opacity: 0.8;
    }
  }
}

// MEDIA
// ------------------------------------------------------------------

@media (max-width: 1200px) {
  .fs-post-card {
    padding-top: 64px;
    padding-bottom: 64px;

    &__title-link {
      font-size: 6rem;
    }
  }
}

@media (max-width: 1100px) {
  .fs-post-card {
    padding-top: 0;
    align-items: center;

    &__title,
    &__excerpt {
      text-align: center;
    }
  }
}

@media (max-width: 1000px) {
  .fs-post-card {

    .post-author__link,
    &__title-link {
      &:hover {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 750px) {
  .fs-post-card {
    padding-bottom: 48px;

    &__title-link {
      font-size: 5.6rem;
    }
  }
}

@media (max-width: 650px) {
  .fs-post-card {
    &__excerpt {
      font-size: 1.6rem;
    }

    &__title-link {
      font-size: 5.2rem;
    }
  }
}

@media (max-width: 550px) {
  .fs-post-card {
    &__title-link {
      font-size: 4.8rem;
    }
  }
}

@media (max-width: 450px) {
  .fs-post-card {
    &__title-link {
      font-size: 4.2rem;
    }

    .post-card__btn {
      margin-top: 16px;
    }
  }
}

@media (max-width: 375px) {
  .fs-post-card {
    &__title-link {
      font-size: 3.8rem;
    }
  }
}