.fs-section-with-author {
  background-color: var(--accent-bg-color);

  &__wrapper {
    padding: 51px 0;
    padding-right: 55px !important;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 148px;
  }

  &__author-info {
    padding-right: 57px;
  }

  &__title {
    max-width: 630px;

    @include font--titles-H1;
    text-transform: uppercase;

    &::after {
      display: inline-block;
      width: 48px;
      height: 48px;
      background-size: cover;
      background-position: center;
    }
  }

  &__excerpt {
    max-width: 566px;

    @include font--text-L-medium;

    margin-top: 8px;
  }

  .fs-section-with-author__btn-box-text-wrapper {
    overflow: hidden;
    display: block;
    position: relative;
  }

  .fs-section-with-author__btn-box-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    transition: opacity 0.25s ease, transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);

    &:last-child {
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(120%) translateZ(0);
    }

    svg {
      path {
        stroke: var(--btn-custom-colored-text);
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    margin-top: 64px;

    max-width: 450px;

    border-radius: $border-radius-blocks;

    padding: 12px 16px;

    background-color: var(--accent-color-DM-monochrome);

    color: var(--color-bg);

    svg {
      flex-shrink: 0;
    }

    &:hover {
      .fs-section-with-author__btn-box-text {
        &:first-child {
          transform: translateY(-120%) translateZ(0);
        }

        &:last-child {
          transform: translateY(0) translateZ(0);
        }
      }
    }
  }

  &__btn-text-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__btn-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;

    max-width: 287px;
    width: 100%;

    span:first-of-type {
      @include font--titles-H4;
    }

    span:last-of-type {
      @include font--text-S-medium;
      opacity: 0.9;
    }
  }

  &__btn-box {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;

    color: var(--btn-custom-colored-text);

    svg {
      transition: transform $transition-time ease-out;

      path {
        stroke: var(--btn-custom-colored-text);
      }
    }
  }

  &__subsctract {
    position: relative;

    &::before,
    &::after {
      width: 100px;
      height: 100px;

      position: absolute;

      border-radius: 50%;

      display: flex;
      align-items: center;
      justify-content: center;

      background-color: #fff;
      box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);

      background-repeat: no-repeat;
      background-position: center center;

      background-size: 56px 56px;

      z-index: 10;

      top: 16%;
      right: -8%;
    }

    &::after {
      bottom: 19%;
      left: -5%;
      top: unset;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);

      z-index: 5;
      path {
        fill: var(--accent-bg-color);
        stroke: var(--accent-bg-color);
      }
    }
  }

  &__img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;
  }

  &__subsctract-wrapper {
    width: 480px;
    height: 547px;

    svg {
      width: 100.3%;
      height: 100.3%;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 150%;
    object-fit: cover;
  }
}

// Media

@media (max-width: 1300px) {
  .fs-section-with-author__wrapper {
    gap: 64px;
  }
}

@media (max-width: 1250px) {
  .fs-section-with-author__wrapper {
    gap: 32px;
  }
  .fs-section-with-author__author-info {
    padding-right: 32px;
  }
}

@media (max-width: 1100px) {
  .fs-section-with-author__subsctract-wrapper {
    width: 430px;
    height: 490px;
  }

  .fs-section-with-author__subsctract::after {
    left: -8%;
  }
}

@media (max-width: 1000px) {
  .fs-section-with-author__wrapper {
    flex-direction: column-reverse;

    padding-right: 30px !important;
  }
  .fs-section-with-author__author-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0 !important;
    text-align: center;
  }
  .fs-section-with-author__btn {
    margin-top: 32px;
  }

  .fs-section-with-author__btn {
    &:hover {
      opacity: 1;

      .fs-section-with-author__btn-box-text {
        &:first-child {
          transform: unset;
        }

        &:last-child {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .fs-section-with-author__wrapper {
    padding-right: 20px !important;
  }

  .fs-section-with-author__title {
    @include font--titles-H2;

    &::after {
      width: 32px;
      height: 32px;
    }
  }

  .fs-section-with-author__excerpt {
    @include font--text-M-medium;
  }

  .fs-section-with-author__subsctract-wrapper {
    width: 307px;
    height: 350px;
  }

  .fs-section-with-author__subsctract {
    &::before {
      content: none !important;
    }

    &::after {
      content: none !important;
    }
  }
}

@media (max-width: 450px) {
  .fs-section-with-author__btn-text-wrapper {
    svg {
      display: none;
    }
  }
}
