// Post card
// -----------------------------------------------------------------

.post-card {
  color: var(--color-main);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__img-link {
    overflow: hidden;
    display: block;
    width: 100%;

    border-radius: $border-radius-images;

    &:hover {
      img {
        scale: 1.02;
      }
    }
  }

  .post-card-no-image {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--post-card-no-img-bg);

    border-radius: $border-radius-images;

    width: 100%;
    height: fit-content;

    object-fit: cover;
    aspect-ratio: 16/9;

    &__title {
      @include font--titles-H4;
      text-align: center;
    }

    &:hover {

      img,
      h3 {
        scale: 1.02;
      }
    }

    &__dark-logo,
    &__logo,
    &__title {
      transition: scale $transition-time ease;
      will-change: scale;
      max-height: 24px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;

    transition: scale $transition-time ease;
    will-change: scale;

    aspect-ratio: 16/9;
  }

  .post-card__content-box {
    display: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-width: 923px;
  }

  &__heading-link {
    transition: color $transition-time ease;

    &:hover {
      color: var(--color-main--hover);
    }
  }

  &__excerpt {
    @include font--text-S-medium;
  }

  &--big {
    position: relative;
    height: auto;

    .post-card-no-image,
    .post-card__img-link {
      height: 100%;
    }

    .post-card__img-link {
      position: relative;

      picture {
        position: absolute;
        inset: 0;
      }
    }

    .post-card__content {
      max-width: 767px;
      width: fit-content;

      padding: 0 40px;

      position: absolute;
      bottom: 40px;
      left: 0;
      z-index: 10;
    }

    .post-card-no-image,
    .post-card__img {
      aspect-ratio: unset;
    }

    position: relative;

    &::before {
      content: '';

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background-color: rgba(0, 0, 0, 0.2);
      z-index: 1;

      border-radius: $border-radius-images;
    }

    .post-tags {
      position: absolute;
      padding: 0 40px;
      top: 40px;
      left: 0;
      z-index: 10;
    }

    .post-card__heading-link,
    .post-card__excerpt,
    .post-data,
    .post-author__span,
    .post-author__link {
      color: #fff;
    }

    .post-author {
      &::before {
        background-color: #fff;
      }
    }

    .post-card__heading-link,
    .post-author__link {
      transition: opacity $transition-time ease;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &--small {
    display: flex;
    flex-direction: row;
    gap: 24px;

    position: relative;

    .post-tags {
      position: absolute;
      flex-direction: column-reverse;
      align-items: flex-start;
      top: 10px;
      left: 10px;
    }

    .post-card__content {
      max-width: 214px;
      width: 100%;
      justify-content: space-between;

      .post-meta {
        .post-data {
          flex-shrink: 0;
        }
      }
    }

    .post-card__img {
      height: 120px;
    }

    .post-card__img-link,
    .post-card-no-image {
      margin-bottom: 0;
    }
  }

  &--small-list {
    flex-direction: row;

    .post-card__img-link,
    .post-card-no-image {
      max-width: 332px;
    }

    .post-card__content {
      flex-basis: 292px;
    }

    .post-card__heading {
      margin-bottom: auto;

      @include font--titles-H3;
    }

    &:nth-of-type(n + 3) {
      padding-top: 24px;
      border-top: 1px solid var(--main-hr-color);
    }
  }

  &--medium-list {
    flex-direction: row;
    height: fit-content;

    .post-card__img-link,
    .post-card-no-image {
      max-width: 451px;
    }

    .post-card__content {
      flex-basis: 426px;
    }

    .post-card__heading {
      @include font--titles-H3;
    }

    .post-meta {
      margin-top: auto;
    }

    &:nth-of-type(n + 2) {
      padding-top: 24px;
      border-top: 1px solid var(--main-hr-color);
    }
  }

  &--fullscreen-slide {
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 0;

    padding: 191px 0;

    &::before {
      content: '';

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background-color: rgba(0, 0, 0, 0.3);
      z-index: -1;
    }

    .post-card__heading-link,
    .post-author__link {
      transition: opacity $transition-time ease;

      &:hover {
        opacity: 0.8;
      }
    }

    .post-tags {
      position: absolute;
      top: 64px;
      left: 50%;

      transform: translateX(-50%);

      justify-content: center;
    }

    .post-card__img,
    .post-card-no-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      z-index: -2;
    }

    .post-card__content {
      max-width: 1160px;
      width: 100%;

      align-items: center;
    }

    .post-card__heading {
      max-width: 1160px;
      @include font--full-width-post;
      text-align: center;
    }

    .post-card__excerpt {
      max-width: 600px;
      @include font--text-L-medium;
      text-align: center;
    }

    .post-card__excerpt,
    .post-data,
    .post-card__heading-link,
    .post-author__span,
    .post-author__link {
      color: #fff;
    }

    .post-author {
      &::before {
        background-color: #fff;
      }
    }

    .post-card-no-image {
      background-color: rgb(17 17 17 / 10%);
    }
  }

  &--big-slide {
    position: relative;

    .post-card__content {
      bottom: 40px;
      left: 40px;
      max-width: 687px;
      position: absolute;
      width: fit-content;

      z-index: 5;
    }

    .post-card__heading {
      @include font--titles-H2;
    }

    .post-card__excerpt {
      @include font--text-M-medium;
    }

    .post-card__excerpt,
    .post-data,
    .post-card__heading-link,
    .post-author__span,
    .post-author__link {
      color: #fff;
    }

    .post-author {
      &::before {
        background-color: #fff;
      }
    }

    .post-card__heading-link,
    .post-author__link {
      transition: opacity $transition-time ease;

      &:hover {
        opacity: 0.8;
      }
    }

    position: relative;

    &::before {
      content: '';

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background-color: rgba(0, 0, 0, 0.3);
      border-radius: $border-radius-images;
      z-index: 1;
    }

    .post-tags {
      position: absolute;
      top: 40px;
      left: 40px;

      z-index: 5;
    }

    .post-card__btn {
      margin-top: 16px;
    }

    .post-card-no-image {
      background-color: rgb(17 17 17 / 10%);
    }
  }

  &--medium-slide {
    display: flex;
    flex-direction: row;

    .post-card__img-link {
      position: relative;
    }

    .post-card__heading {
      margin-top: auto;

      @include font--titles-H2;
    }

    .post-card__excerpt {
      @include font--text-M-medium;
    }
  }

  &--small-slide {
    .post-card__img-link {
      position: relative;
    }

    .post-card__heading {
      @include font--titles-H3;
    }

    .post-card__content {
      padding-right: 40px;
    }
  }

  &__btn-text-wrapper {
    overflow: hidden;
    display: block;
    position: relative;
  }

  &__btn-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    transition: opacity 0.25s ease, transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);

    &:last-child {
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(120%) translateZ(0);
    }

    svg {
      path {
        stroke: white;
      }
    }
  }

  &__btn {
    @include font--text-M-semibold;

    width: fit-content;

    padding: 12px 30px;
    background-color: var(--accent-color);
    border-radius: $border-radius-buttons;

    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    &:hover {
      .post-card__btn-text {
        &:first-child {
          transform: translateY(-120%) translateZ(0);
        }

        &:last-child {
          transform: translateY(0) translateZ(0);
        }
      }
    }
  }
}

:root[data-theme='light'] {
  .post-card-no-image__logo {
    display: block;
  }

  .post-card-no-image__dark-logo {
    display: none;
  }
}

:root[data-theme='dark'] {
  .post-card-no-image__logo {
    display: none;
  }

  .post-card-no-image__dark-logo {
    display: block;
  }

  .post-card__btn {
    color: white;
    background-color: var(--accent-bg-color);
    transition: background-color $transition-time ease;
  }
}

@media (max-width: 1400px) {
  .post-card {
    &--small-list {
      .post-card__heading {
        @include font--titles-H4;
      }

      .post-card-no-image,
      .post-card__img-link {
        max-width: 292px;
      }
    }

    &--medium-list {
      flex-direction: row;

      .post-card__img-link,
      .post-card-no-image {
        max-width: 411px;
      }
    }

    &--fullscreen-slide {
      .post-card__content {
        max-width: 960px;
      }
    }
  }
}

@media (max-width: 1300px) {
  .post-card {
    &--big {
      .post-tags {
        padding: 0 30px;
        top: 30px;
      }

      .post-card__content {
        padding: 0 30px;
        bottom: 30px;
      }
    }

    &--small-list {

      .post-card-no-image,
      .post-card__img-link {
        max-width: 262px;
      }
    }

    &--medium-list {
      flex-direction: row;

      .post-card__img-link,
      .post-card-no-image {
        max-width: 371px;
      }
    }

    &--fullscreen-slide {
      padding: 171px 0;

      .post-card__heading {
        font-size: 5.4rem;
      }

      .post-card__excerpt {
        font-size: 1.6rem;
      }
    }

    &--medium-slide {
      .post-card__heading {
        font-size: 2.4rem;
      }

      .post-card__excerpt {
        font-size: 1.4rem;
      }
    }
  }
}

@media (max-width: 1250px) {
  .post-card {
    &--medium-list {
      flex-direction: row;

      .post-card__img-link,
      .post-card-no-image {
        max-width: 331px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .post-card {
    &--big {
      .post-tags {
        padding: 0 20px;
        top: 20px;
      }

      .post-card__content {
        padding: 0 20px;
        bottom: 20px;
      }
    }

    &--small-list {

      .post-card-no-image,
      .post-card__img-link {
        max-width: 232px;
      }
    }

    &--medium-list {
      flex-direction: row;

      .post-card__img-link,
      .post-card-no-image {
        max-width: 291px;
      }
    }
  }
}

@media (max-width: 1100px) {
  .post-card {
    &--big {
      .post-tags {
        padding: 0 30px;
        top: 30px;
      }

      .post-card__content {
        padding: 0 30px;
        bottom: 30px;
      }

      .post-card__img-link {
        picture {
          position: static;
        }
      }

      .post-card-no-image,
      .post-card__img {
        aspect-ratio: 16/9;
      }
    }

    &--small-list {

      .post-card-no-image,
      .post-card__img-link {
        max-width: 212px;
      }
    }

    &--medium-list {
      flex-direction: row;

      .post-card__img-link,
      .post-card-no-image {
        max-width: 451px;
      }

      .post-card__content {
        flex-basis: 100%;
      }
    }

    &--fullscreen-slide {
      padding: 151px 0;

      .post-card__heading {
        font-size: 4.4rem;
      }

      .post-card__content {
        max-width: 100%;
        padding: 0 30px;
      }
    }

    &--small {
      .post-card__content {
        .post-meta {
          flex-wrap: wrap;
          column-gap: 20px;

          .post-data {
            width: fit-content;
          }
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  .post-card {
    &--medium-slide {
      flex-direction: column;
      gap: 0;

      .post-card__content {
        margin-top: 24px;
        padding-right: 24px;
        max-width: 100%;
      }
    }

    .post-card__content-box {
      display: block;
    }

    .post-card__content-box.post-card-no-image {
      display: flex;
    }
  }
}

@media (max-width: 1000px) {
  .post-card {
    &--big {
      .post-card__heading-link {
        &:hover {
          opacity: 1;
          color: #fff;
        }
      }
    }

    &--small-list {

      .post-card-no-image,
      .post-card__img-link {
        max-width: 322px;
      }

      .post-card__content {
        flex-basis: 100%;
      }

      &:nth-of-type(n + 2) {
        padding-top: 24px;
        border-top: 1px solid var(--main-hr-color);
      }
    }

    &--fullscreen-slide {
      .post-card {
        &__heading-link {
          &:hover {
            color: #fff;
            opacity: 1;
          }
        }
      }

      .post-author__link {
        &:hover {
          color: #fff;
          opacity: 1;
        }
      }
    }

    &--big-slide {
      .post-card {
        &__heading {
          font-size: 2.8rem;
        }

        &__heading-link {
          &:hover {
            color: #fff;
            opacity: 1;
          }
        }
      }

      .post-author__link {
        &:hover {
          color: #fff;
          opacity: 1;
        }
      }
    }

    &__img-link,
    .post-card-no-image {
      &:hover {

        img,
        h3 {
          scale: 1;
        }
      }
    }

    &__heading-link {
      &:hover {
        color: var(--color-main);
      }
    }

    &__btn {
      &:hover {
        .post-card__btn-text {
          &:first-child {
            transform: translateY(0) translateZ(0);
          }

          &:last-child {
            transform: translateY(120%) translateZ(0);
          }
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .post-card {
    &--big-slide {
      .post-card__content {
        left: 0;
        bottom: 0;

        width: 100%;
        max-width: 100%;

        padding: 20px;
      }

      .post-tags {
        left: 0px;
        top: 20px;

        padding: 0 20px;
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 800px) {
  .post-card {
    &--fullscreen-slide {
      padding: 131px 0;

      .post-card__heading {
        font-size: 4rem;
      }
    }
  }
}

@media (max-width: 750px) {
  .post-card {
    &--big-slide {
      .post-card__excerpt {
        display: none;
      }

      .post-card__heading {
        font-size: 2.4rem;
      }
    }

    &--big-slide {
      min-height: 320px;

      .post-card-no-image,
      .post-card__img {
        object-fit: cover;
        aspect-ratio: 1.5/1;
      }
    }
  }
}

@media (max-width: 700px) {
  .post-card {
    &--big {
      .post-tags {
        top: 20px;
      }

      .post-card__content {
        bottom: 20px;
      }
    }
  }
}

@media (max-width: 650px) {
  .post-card {
    &--fullscreen-slide {

      .post-tags,
      .post-card__content {
        max-width: 100%;
        width: 100%;
        padding: 0 30px;
      }
    }
  }
}

@media (max-width: 550px) {
  .post-card {
    &--big {
      &::before {
        content: none;
      }

      .post-tags {
        left: 10px;
        top: 10px;
        padding: 0 10px 0 0;
      }

      .post-card__content {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 0;

        .post-card__heading-link,
        .post-card__excerpt {
          color: var(--color-main);
        }
      }

      .post-data,
      .post-author__link {
        color: var(--color-main);
      }

      .post-author {
        &::before {
          background-color: var(--color-main);
        }
      }

      .post-author__span {
        color: var(--color-gray);
      }
    }

    &--small {
      flex-direction: column;

      .post-tags {
        flex-direction: row;
        align-items: center;
        padding-right: 10px;
      }
    }

    &--small-list {
      flex-direction: column;

      .post-card-no-image,
      .post-card__img-link {
        max-width: 100%;
      }

      .post-card__heading {
        margin-top: 0;
      }
    }

    &--medium-list {
      flex-direction: column;

      .post-card__img-link,
      .post-card-no-image {
        max-width: 100%;
      }

      .post-card__content {
        flex-basis: 100%;
      }
    }

    &--fullscreen-slide {

      .post-tags,
      .post-card__content {
        padding: 0 20px;
      }

      .post-card__heading {
        font-size: 3.6rem;
      }
    }

    &--big-slide {

      .post-card-no-image,
      .post-card__img {
        object-fit: cover;
        aspect-ratio: 1/1;
      }
    }
  }
}

@media (max-width: 450px) {
  .post-card {
    &--big-slide {
      min-height: 300px;

      .post-card__btn {
        margin-top: 0px;
        font-size: 1.4rem;
        padding: 10px 16px;
      }

      .post-card__content {
        padding-bottom: 50px;
      }
    }
  }
}

@media (max-width: 375px) {
  .post-card {
    &--big-slide {
      min-height: 260px;

      .post-card__heading {
        font-size: 2rem;
      }
    }

    &--fullscreen-slide {

      .post-tags,
      .post-card__content {
        padding: 0 14px;
      }

      .post-card__excerpt {
        font-size: 1.4rem;
      }
    }
  }
}