// Post card with date
// -------------------------------------------------------

.post-card-with-date {
  display: flex;
  gap: 24px;

  &__date-wrapper {
    width: 120px;
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;

    background-color: var(--accent-bg-color);

    flex-shrink: 0;

    border-radius: $border-radius-blocks;
  }

  &+& {
    border-top: 1px solid var(--main-hr-color);
    padding-top: 24px;
  }

  &__day {
    color: var(--accent-color-DM-monochrome);

    @include font--titles-H2;
  }

  &__month-year {
    color: var(--color-gray);

    @include font--text-XS-medium;
  }

  &__content {
    max-width: 701px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__heading-link {
    @include font--titles-H2;
    transition: color $transition-time ease;

    &:hover {
      color: var(--color-main--hover);
    }
  }

  &__excerpt {
    @include font--text-S-medium;
  }

  .post-meta {
    margin-top: 16px;
  }
}

@media (max-width: 550px) {
  .post-card-with-date {
    &__date-wrapper {
      width: 80px;
      height: 80px;
    }

    &__day {
      font-size: 2.6rem;
    }

    &__heading-link {
      font-size: 2.8rem;
    }
  }
}

@media (max-width: 450px) {
  .post-card-with-date {
    flex-direction: column;
  }
}