.site-author {
  display: flex;
  align-items: center;
  gap: 8px;

  &__img-link {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--main-hr-color);
    border-radius: 100px;
    overflow: hidden;
    transition: border $transition-time ease;

    &:hover {
      .site-author__img {
        opacity: 0.8;
      }
    }
  }

  &__img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 100px;
    transition: opacity $transition-time ease;
  }

  &__name-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__name {
    color: var(--color-main);
    transition: color $transition-time ease, opacity $transition-time ease;
    @include font--logo-author;
    font-weight: 800;
    line-height: 1;
    display: flex;
    flex-direction: column;

    &::after {
      @include font--text-XS-bold;
      color: var(--color-gray);
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

@media (max-width: 1350px) {
  .site-author {
    &.insideFooter {
      .site-author__img-link {
        width: 52px;
        height: 52px;
      }

      .site-author__img {
        width: 42px;
        height: 42px;
      }

      .site-author__name {
        font-size: 2rem;
      }
    }
  }
}

@media (max-width: 1000px) {
  .site-author {
    &__img-link {
      &:hover {
        .site-author__img {
          opacity: 1;
        }
      }
    }

    &__name {
      &:hover {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 750px) {
  .header {
    .site-author {
      &__img-link {
        min-width: 40px;
        min-height: 40px;
        width: 40px;
        height: 40px;
      }

      &__img {
        width: 34px;
        height: 34px;
      }

      &__name {
        gap: 0;
        font-size: 1.8rem;

        &::after {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .header {
    .site-author {
      width: max-content;

      &__name {
        text-align: center;

        &::after {
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .header {
    .site-author {
      width: auto;

      &__name {
        font-size: 1.6rem;

        &::after {
          display: none;
        }
      }
    }
  }
}