// Subscribe banner
// ------------------------------------------------------------

.subscribe-banner-wrapper {
  display: flex;

  .subscribe-banner {
    max-width: 700px;
    height: auto;
    padding: 40px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 0;
    border-top-right-radius: $border-radius-blocks;
    border-bottom-right-radius: $border-radius-blocks;

    &__title,
    &__text,
    &__input-wrapper {
      width: 100%;
    }

    &__input {
      border-top-left-radius: $border-radius-inputs;
      border-bottom-left-radius: $border-radius-inputs;
    }

    &__input-btn {
      border-top-right-radius: $border-radius-inputs;
      border-bottom-right-radius: $border-radius-inputs;
    }

    &__title {
      @include font--titles-H2;
      max-width: 570px;
      padding: 0 48px;
    }

    &__text {
      @include font--text-M-medium;
      max-width: 570px;
      padding: 0 48px;
    }

    &__input-wrapper {
      margin-top: 24px;
      max-width: 474px;
      width: calc(100% - 96px);
      height: 50px;
    }

    &.success {
      padding: 0 48px;
    }

    .subscribe-banner-terms {
      max-width: 440px;
      width: calc(100% - 140px);
    }

    .form-success-icon {
      width: 64px;
      height: 64px;
    }
  }

  &--no-img {
    .subscribe-banner {
      padding: 64px 0;
      max-width: 100%;

      border-top-left-radius: $border-radius-blocks;
      border-bottom-left-radius: $border-radius-blocks;

      &__title {
        @include font--titles-H1;
      }

      &__text {
        @include font--text-L-medium;
      }

      &__input-wrapper {
        margin-top: 40px;
      }

      .subscribe-banner-success__text {
        max-width: 400px;
      }

      &.success {
        padding: 64px 0;
      }
    }
  }

  .subscribe-banner-success__title {
    @include font--titles-H2;
  }

  .subscribe-banner-success__text {
    @include font--text-M-medium;
  }
}

.subscribe-banner-img {
  aspect-ratio: 1.67/1;

  max-width: 700px;
  width: 100%;

  border-top-left-radius: $border-radius-blocks;
  border-bottom-left-radius: $border-radius-blocks;

  overflow: hidden;

  flex-shrink: 1;

  img {
    display: block;
    object-fit: cover;

    width: 100%;
    height: 100%;
  }
}

.subscribe-banner-terms {
  width: 100%;
  text-align: center;
  margin-top: 8px;

  * {
    @include font--text-XS-medium;
    color: var(--color-gray);
  }

  strong {
    @include font--text-XS-bold;
  }

  a,
  a > *,
  a > * > * {
    color: var(--color-main);
    transition: color $transition-time ease;
  }

  a {
    &:hover {
      color: var(--accent-hover-color);

      & > *,
      & > * > * {
        color: var(--accent-hover-color);
      }
    }
  }
}

@media (max-width: 1200px) {
  .subscribe-banner-wrapper {
    .subscribe-banner {
      &.success {
        padding: 48px;
        max-width: 50%;
      }
    }

    .subscribe-banner-success__title {
      @include font--titles-H3;
    }

    .subscribe-banner-success__text {
      @include font--text-S-medium;
    }

    &--no-img {
      .subscribe-banner {
        &.success {
          padding: 64px 0;
          max-width: 100%;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .subscribe-banner-terms {
    a {
      &:hover {
        color: var(--color-main);

        & > *,
        & > * > * {
          color: var(--color-main);
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .subscribe-banner-wrapper {
    .subscribe-banner {
      &__title {
        @include font--titles-H3;
      }

      &__text {
        @include font--text-S-medium;
      }
    }

    &--no-img {
      .subscribe-banner {
        &__title {
          @include font--titles-H2;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .subscribe-banner-wrapper {
    flex-direction: column;

    .subscribe-banner {
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      border-bottom-left-radius: $border-radius-blocks;
      border-bottom-right-radius: $border-radius-blocks;
      &.success {
        max-width: 100%;
      }
    }
  }

  .subscribe-banner-img {
    aspect-ratio: 3/1;

    border-top-left-radius: $border-radius-blocks;
    border-top-right-radius: $border-radius-blocks;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@media (max-width: 550px) {
  .subscribe-banner {
    &__title {
      @include font--titles-H3;
    }
  }

  .subscribe-banner-wrapper {
    .subscribe-banner {
      &.success {
        padding: 32px;
      }

      .subscribe-banner-terms {
        width: calc(100% - 112px);
      }
    }

    &--no-img {
      .subscribe-banner {
        padding: 32px 0;

        &__title {
          @include font--titles-H3;
        }
      }
    }

    .form-success-icon {
      width: 48px;
      height: 48px;
    }

    .subscribe-banner-success__title {
      @include font--titles-H4;
    }
  }
}

@media (max-width: 450px) {
  .subscribe-banner-wrapper {
    .subscribe-banner {
      &__title {
        padding: 0 24px;
      }

      &__text {
        padding: 0 24px;
      }

      &__input-wrapper {
        width: calc(100% - 48px);
      }

      .subscribe-banner-terms {
        width: calc(100% - 56px);
      }
    }

    .subscribe-banner.success {
      padding: 24px;
    }
  }
}
