// Tags section
// ----------------------------------------------------

.tags-section {
  &__title {
    max-width: 687px;
    width: 100%;

    @include font--titles-H4;
  }

  &__subtitle {
    max-width: 586px;
    width: 100%;

    margin-top: 8px;

    @include font--text-M-medium;

    color: var(--color-gray);
  }

  &__tabs-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    margin-top: 24px;
  }

  &__tab {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 16px 20px;
    @include font--titles-H4;

    transition: opacity $transition-time ease;
    border-radius: $border-radius-blocks;
    background-color: var(--accent-bg-color);

    &:hover {
      opacity: 0.7;
    }
  }

  &__tab-name {
    display: flex;
    align-items: center;
    gap: 8px;

    &::before {
      display: block;
      width: 20px;
      height: 24px;

      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__count {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--color-bg);
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
  }

  &__count-value {
    color: var(--accent-color-DM-monochrome);
    @include font--tags;
    line-height: 1;
    letter-spacing: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 550px) {
  .tags-section {
    &__tab {
      padding: 12px 20px;
      font-size: 1.8rem;
    }
  }
}

@media (max-width: 375px) {
  .tags-section {
    padding-right: 0 !important;

    &__tabs-wrapper {
      flex-wrap: nowrap;
      overflow-x: scroll;
      padding-bottom: 22px;
    }

    &__tab {
      padding: 9px 20px;
      font-size: 1.6rem;
      flex-shrink: 0;
    }

    &__title,
    &__subtitle {
      padding-right: 14px;
    }
  }
}