.slider-card-2-posts {
  color: var(--color-main);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__img-link {
    overflow: hidden;
    display: block;
    width: 100%;

    border-radius: $border-radius-images;

    position: relative;

    &:hover {
      img {
        scale: 1.02;
      }
    }
  }

  .post-card-no-image {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--post-card-no-img-bg);

    border-radius: $border-radius-images;
    overflow: hidden;

    position: relative;

    width: 100%;
    height: fit-content;

    object-fit: cover;
    aspect-ratio: 16/9;

    &__title {
      @include font--titles-H4;
      text-align: center;
    }

    &:hover {
      img,
      h3 {
        scale: 1.02;
      }
    }

    &__dark-logo,
    &__logo,
    &__title {
      transition: scale $transition-time ease;
      will-change: scale;
      max-height: 24px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;

    transition: scale $transition-time ease;
    will-change: scale;

    aspect-ratio: 16/9;
  }

  .post-card__content-box {
    display: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-width: 609px;
  }

  &__heading-link {
    transition: color $transition-time ease;

    @include font--titles-H2;

    &:hover {
      color: var(--color-main--hover);
    }
  }

  &__excerpt {
    @include font--text-S-medium;
  }
}
