// Sidebar
// --------------------------------------------------------------

.sidebar-wrapper {
  max-width: 450px;
  width: 100%;
}

.sidebar {
  position: sticky;
  top: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
  transition: top 0.4s ease-in-out;
}

.header:not(.hide) ~ .main .sidebar {
  top: 96px;
}

.header.withAuthor.withFeaturedPosts:not(.hide) ~ .main .sidebar {
  top: 156px;
}

.sidebar-posts {
  display: flex;
  flex-direction: column;
  max-width: 356px;
  width: 100%;

  &__title {
    color: var(--color-main);
    @include font--titles-H4;
    margin-bottom: 24px;
  }
}

// Media

@media (max-width: 1400px) {
  .sidebar-wrapper {
    max-width: 430px;
  }

  .sidebar-posts,
  .subscribe-banner,
  .subscribe-banner-with-img {
    max-width: 336px;
  }
}

@media (max-width: 1300px) {
  .sidebar-wrapper {
    max-width: 410px;
  }

  .sidebar-posts,
  .subscribe-banner,
  .subscribe-banner-with-img {
    max-width: 316px;
  }
}

@media (max-width: 1200px) {
  .sidebar-wrapper {
    max-width: 390px;
  }

  .sidebar-posts,
  .subscribe-banner,
  .subscribe-banner-with-img {
    max-width: 296px;
  }
}

@media (max-width: 1100px) {
  .sidebar-wrapper {
    max-width: 100%;
  }

  .sidebar {
    flex-direction: row-reverse;
    align-items: flex-start;
    padding-bottom: 0px;
  }

  .subscribe-banner,
  .subscribe-banner-with-img {
    max-width: 356px;
  }

  .sidebar-posts {
    max-width: 100%;
  }
}

@media (max-width: 950px) {
  .subscribe-banner,
  .subscribe-banner-with-img {
    max-width: 316px;
  }
}

@media (max-width: 750px) {
  .subscribe-banner,
  .subscribe-banner-with-img {
    max-width: 100%;

    &__title {
      @include font--titles-H2;
    }
  }

  .sidebar {
    flex-direction: column;
    align-items: center;
  }
}
