.category-container {
    margin-top: 160px !important;
}

.category-section:not(:first-child) {
    padding-top: 32px;
}

.category-section {
    padding-bottom: 32px;
}

.category-card-image, .category-card-image img {
    width: 100%;
}

.category-section-title {
    font-size: calc(1.9rem* var(--factor, 1));
    font-weight: 725;
    letter-spacing: -.014em;
    line-height: 1.3;
    margin-bottom: calc(var(--grid-gap) / 2);
    text-transform: uppercase;
}
