@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes mobileMenuDesktopOpen {
  from {
    opacity: 0;
    left: -450px;
  }

  to {
    opacity: 1;
    left: 0;
  }
}

@keyframes mobileMenuDesktopHide {
  from {
    left: 0;
    opacity: 1;
  }

  to {
    left: -450px;
    opacity: 0;
  }
}

@keyframes mobileMenuMobOpen {
  from {
    top: -100vh;
  }

  to {
    top: 0;
  }
}

@keyframes mobileMenuMobHide {
  from {
    top: 0;
  }

  to {
    top: -100vh;
  }
}

@keyframes toTopFadeIn {
  0% {
    top: 30px;
    opacity: 0.1;
  }

  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(-100%)
  }
}

@keyframes swap {

  0% {
    left: 0%;
  }

  50% {
    left: 0%;
  }

  50.01% {
    left: 100%;
  }

  100% {
    left: 100%;
  }
}