{{#if is_desktop}}
<span class="header-search is-desktop" data-ghost-search>{{>icons/site/search}}{{t "Search posts, tags and authors"}}</span>
{{else if is_desktop_icon}}
<li class="header-search is-desktop-icon" data-ghost-search>{{>icons/site/search}}</li>
{{else if is_mobile}}
<span class="header-search is-mobile" data-ghost-search>{{>icons/site/search}}</span>
{{/if}}