{{!< default}}
<div class="error-section hero-section">
	<div class="g-content">
		<h1 class="g-font-xl">{{statusCode}}/ {{message}}</h1>
		<a href="{{@site.url}}" class="error-btn g-btn">{{t "Back to homepage"}}</a>
	</div>
</div>
{{>related is_latest=true}}
{{>members/additional is_footer=true}}