// HEADER FEATURED POSTS SLIDER
// -----------------------------------------------------------------

.header-feat-posts {
  width: 100%;
  min-height: 45px;
  height: 45px;
  border-top: 1px solid var(--main-hr-color);
  border-bottom: 1px solid var(--main-hr-color);
  display: flex;
  align-items: center;

  transition: border-color $transition-time ease;
}

.header-feat-posts-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-feat-posts-slider {
  width: 85%;
  max-width: 85%;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 28px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, var(--color-bg) 100%);
    z-index: 2;
  }

  &.swiper {
    margin: 0;
  }
}

.header-feat-posts-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  position: relative;

  &__title {
    @include font--text-S-medium;
    color: var(--color-main);
    transition: opacity $transition-time ease;

    &:hover {
      opacity: 0.75;
    }
  }

  &::after {
    content: '';
    position: absolute;
    right: -16px;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: var(--main-hr-color);
  }
}

// NEXT AND PREV BUTTONS
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.header-feat-posts-slider-buttons {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-feat-posts-slider-prev,
.header-feat-posts-slider-next {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: opacity $transition-time ease;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    transition: transform $transition-time ease;

    path {
      stroke: var(--accent-color-DM-monochrome);
    }
  }

  &.swiper-button-disabled {
    pointer-events: none;
  }

  &:hover {
    opacity: 0.8;
  }
}

.header-feat-posts-slider-prev {
  &:hover {
    svg {
      transform: translate3d(-70%, -50%, 0);
    }
  }
}

.header-feat-posts-slider-next {
  &:hover {
    svg {
      transform: translate3d(-30%, -50%, 0);
    }
  }
}

// MEDIA QUERIES
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@media (max-width: 1000px) {
  .header-feat-posts {
    display: none;
  }
}
