<button class="burger-btn" aria-label="{{t "Open mobile menu button"}}">
    <div class="burger-btn__wrapper">
        <span class="burger-btn__span"></span>
        <span class="burger-btn__span"></span>
        <span class="burger-btn__span"></span>
    </div>
</button>