{{!-- --------- Props --------- --}}
{{!-- 1. withLogo --}}
{{!-- 2. withAuthor --}}
{{!-- 3. centeredIdentity --}}
{{!-- 4. centeredNav --}}
{{!-- 5. withFeaturedPosts --}}
{{!-- 6. withBurger --}}

<header class="header{{#match withFeaturedPosts "=" "true"}} withFeaturedPosts{{/match}}{{#match withAuthor "=" "true"}} withAuthor{{/match}}{{#match withBurger "=" "true"}} withBurger{{/match}}{{#match centeredIdentity "=" "true"}} centeredIdentity{{/match}}{{#match centeredNav "=" "true"}} centeredNav{{/match}}">
    <div class="header-container wrapper">

        {{!-- ---- BURGER BUTTON ---- --}}
        {{>header/burger-btn}}

        {{!-- ---- HEADER IDENTITY (LOGO/AUTHOR) ---- --}}
        {{#match withLogo "=" "true"}}
            {{>header/header-identity showLogo = "true"}}
        {{else match withAuthor "=" "true"}}
            {{>header/header-identity showAuthor = "true"}}
        {{/match}}

        {{!-- ---- HEADER NAVIGATION ---- --}}
        {{^match withBurger "=" "true"}}
            {{navigation position = "header"}}
        {{/match}}
        
        {{!-- ---- HEADER ACTIONS ---- --}}
        {{>header/header-actions}}
        
        {{!-- ---- HEADER CTA ---- --}}
        {{#if @site.members_enabled}}
        {{#unless @member}}
        {{>header/header-CTA}}
        {{/unless}}
        {{/if}}  

    </div>

    {{#match withFeaturedPosts "=" "true"}}
        {{>header/header-feat-posts-slider}}
    {{/match}}

    {{!-- ---- MOBILE MENU ---- --}}
    {{>header/mobile-menu}}

</header>