<div class="header-feat-posts">
    <div class="header-feat-posts-container wrapper">
        <div class="swiper header-feat-posts-slider">
            <div class="swiper-wrapper header-feat-posts-slider-wrapper">
                {{#get "posts" limit="10" order="published_at desc" filter="featured:true"}}
                {{#foreach posts}}
                <div class="swiper-slide header-feat-posts-slide">
                    <a class="header-feat-posts-slide__title" aria-label="{{t "Post title link"}}" href="{{url}}">
                        {{title}}
                    </a>
                </div>
                {{/foreach}}
                {{/get}}
            </div>
        </div>
        <div class="header-feat-posts-slider-buttons">
            <button class="header-feat-posts-slider-prev">
                {{>icons/slider-prev-icon}}
            </button>
            <button class="header-feat-posts-slider-next">
                {{>icons/slider-next-icon}}
            </button>
        </div>
    </div>
</div>