<li>
    <a href="{{url}}" x-init="if ('{{slug}}' === currentSlug) {$el.scrollIntoView({ behavior: 'smooth', block: 'center' }); $el.style.fontWeight = 'bold'}">
        <span>{{title}}</span>
        {{#unless access}}
            {{^has visibility="public"}}
                {{> "icons/lock"}}
            {{/has}}
        {{/unless}}
    </a>
</li>
